.main-footer {
  background-color: #333;
  color: #fff;
}

.main-footer > div {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .main-footer > div {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 330px) {
  .main-footer > div {
    padding-left: 1rem;
  }
}
