.profile-background {
  margin-top: 6.5rem;
  /* position: relative; */
  background-image: url("../images/he-zhu-1YODHOIj46Q-unsplash.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 55vh;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 4rem; */
}
.profile img {
  max-height: 75vh;
  max-width: 22vw;
}

.name {
  padding-top: 1rem;
}
