.navbar {
  background-color: #aaaf87;
  color: #fff;
  height: 5rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#arrow-icon {
  padding-top: 0.4rem;
  color: #fff;
  transition: padding 0.5s;
}
.navbar div a:hover {
  color: #f4c84b;
}

#arrow-icon:hover {
  padding-top: 1rem;
  color: #f4c84b;
}

@media only screen and (max-width: 414px) {
  .navbar {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 330px) {
  .navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
  .navbar div a {
    display: flex;
    flex-direction: row;
  }
  .navbar div a h3 {
    display: flex;
    flex-direction: row;
    padding-right: 0.5rem;
  }
}
