.error {
  background-color: #eed202;
  margin-top: 1rem;
  border-radius: 8%;
  display: flex;
  justify-content: center;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
.tweet-form label {
  padding-bottom: 1.5rem;
}

#tweet-text {
  border: none;
  border-bottom: 4px solid #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: #333;
  padding-left: 0.5rem;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

.tweet-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
