#error {
  background-color: #f4c84b;
  margin-top: 1rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#error i {
  padding-right: 1rem;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

#tweet-text {
  border: none;
  border-bottom: 4px solid #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: #333;
  padding-left: 0.5rem;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

.tweet-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

@media only screen and (min-width: 1024px) {
  #error {
    margin-top: 6rem;
  }
  .tweet-form {
    padding-top: 6rem;
  }
}
